
@{
    ViewBag.Title = "Al Meraj Bakers & Sweets - SAP Reports";
}

<h2>SAP Custom Business Analysis Reports</h2>

<div class="jumbotron">
    <h1>AL MERAJ BAKERS & SWEETS</h1>
    <p class="lead">Web application for Custom SAP Business One Reports.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


